.Products {
  flex: 1;
}

.Products-content {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 0;
  margin: 8px;
  width: 400px;
  align-self: center;
}

.Products-search-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Products .search-button {
  width: 100px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  align-self: end;
  margin-right: 12px;
}

.Products .search-button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
