.Login,
.Login-content {
    flex: 1;
}

.Login-content {
    display: flex;
    flex-direction: column;
}

.Login-form {
    background: #f7f7f7;
    max-width: 320px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -1px #3230309c;
    align-self: center;
    padding: 16px 8px;
}
